<head>
<style type="text/css">
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    body {
        background-color: blue;
        color: white;
        font-size: 48px;
        font-family: 'Exo 2', sans-serif;
    }
    header {
        width: 100%;
        border-bottom: 1px solid white;
        font-size: 18px;
        padding: 25px;
    }
    .about {
        padding: 50px;
    }
    </style>

            <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>
<body>

    <header><a href="index">← Back</a></header>

<div class="about">

    {{ content }}

</div>
</body>
